body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	background-color: darkblue;
	color: gold;
}

header {
	text-align: center;
	margin-top: 50px;
	color: gold;
}

main {
	width: 720px;
	margin: auto;
	font-size: 1.25rem;
	border: 1px solid black;
	padding: 36px;
	box-sizing: border-box;
	background-color: darkred;
	border: 1px solid darkred;
	border-radius: 3px;
}

.input-div {
	margin-bottom: 1.5rem;
}

#name-label, #email-label, #number-label, #dropdown-label {
	display: block;
}

#name, #email, #number, #dropdown, button, textarea {
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	padding: 8px;
	margin-top: 8px;
}

fieldset {
	border-style: none;
	padding: 0;
	margin: .6em 0em .6em 0em;
}

fieldset > label {
	display: block;
	margin: .25rem 0 .25rem 0;
}

fieldset > div > label {
	display: block;
	margin: .25rem 0 .25rem 0;
}

label > input {
	margin-right: 10px;
}

textarea {
	height: 150px;
}

button {
	margin: 20px 0 10px 0;
}

@media (max-width: 540px) {
	main {
		width: 100%;
		padding: 12px;
	}
}

@media (max-width: 768px) and (min-width: 541px) {
	main {
		width: 83%;
	}
}

