body {
	box-sizing: border-box;
	margin: 0;
}

h1, p {
	text-align: center;
}

#name, #email, #number, #dropdown, button, textarea {
	width: 100%;
	font-size: 1.25rem;
}

textarea {
	font-size: initial;
}

#name-label, #email-label, #number-label, #dropdown-label {
	display: block;
	margin-top: .5rem;
}

main {
	width: 720px;
	margin: auto;
	font-size: 1.25em;
}

fieldset {
	padding: 0;
	margin: .5em 0em .5em 0em;
	border-style: none;
}

fieldset > label {
	display: block;
}

fieldset > div > label {
	display: inline-block;
	width: 100%;
}

@media (max-width: 540px) {
	main {
		width: 100%;
	}
}

@media (max-width: 768px) and (min-width: 541px) {
	main {
		width: 83%;
	}
}

